<!DOCTYPE html>
<html>
  <head>
    <title>Notes ‧ <%= yield(:title).presence || "Shaping knowledge" %></title>
    <meta name="description" content="<%= yield(:description).presence || "Hosting ideas and knowledge in constant evolution." %>" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <meta name="robots" content="index, follow" />
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="banner"></div>
    <header class="header">
      <%= link_to root_path do %>
        📝 Juan Gallego IV's Notes
      <% end %>

      <div class="actions">
        <% if !logged_in? %>
          <%= link_to "⚙︎", login_path, data: { "turbo-method": :post } %>
        <% else %>
          <%= link_to "⌀", logout_path, data: { "turbo-method": :delete } %>
        <% end %>
      </div>
    </header>

    <main class="wrapper">
      <section class="content">
        <% if notice %>
          <p style="color: green"><%= notice %></p>
        <% end %>

        <%= yield %>
      </section>
    </main>
  </body>
</html>
