<!DOCTYPE html>
<html>
  <head>
    <title>Notes ‧ <%= yield(:title).presence || "Shaping knowledge" %></title>
    <meta name="description" content="<%= yield(:description).presence || "Hosting ideas and knowledge in constant evolution." %>" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <meta name="robots" content="index, follow" />
  </head>

  <body>
    <main class="wrapper">
      <header class="box header">
        <%= link_to root_path, class: "logo" do %>
          <%= image_tag "logo.png" %> Notes
        <% end %>
      </header>
      <section class="box content">
        <% if notice %>
          <p style="color: green"><%= notice %></p>
        <% end %>

        <%= yield %>
      </section>
      <aside class="box sidebar">
        <% if !logged_in? %>
          <%= button_to "Login", login_path, method: :post %>
        <% end %>
        <%= yield(:sidebar) %>
      </aside>
    </main>
  </body>
</html>
